.center {
    position: fixed;
    bottom: 50%;
    left: 50%;
}
.profile_pic {
    width: 170px;
    height: 170px;
    border-radius: 50%;
}
.profile_main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.profile_h1 {
    margin: 5px 15px;
    color: #fbfbfb;
}
.test {
    margin-top: 5rem;
    background-color: rgba(0, 0, 0, 0.7);
    width: 45%;
    padding: 20px 50px;
    border-radius: 15px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.image_div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile_info {
    width: 100%;
}
.submit_btn {
    margin: 5px 15px;
    color: #fbfbfb;
    background-color: green;
    padding: 5px;
}
.submit_btn:hover {
    cursor: pointer;
}
.image_h1 {
    margin-left: 15px;
    margin-top: -10px;
    color: #fbfbfb;
}