.navbar {
    width: 100%;
    height: 8%;
    background-color: rgb(2, 2, 2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: black solid thin;
}
.logo {
    height: 100%;
}
.search {
    padding: 0px 15px;
    background-color: grey;
    height: 2rem;
    width: 70%;
    border-radius: 15px;
    z-index: 1;
    position: relative;
}
.searchbtn {
    color: grey;
    height: 2rem;
    padding: 0px 30px;
    background: black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
    margin-left: -20px;
}
.navicons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 25rem;
    height: 100%;
    align-items: center;
    margin-right: 20px;
}
.navtext {
    color: grey;
    padding: 7px;
    font-size: 100%;
    box-sizing: border-box;
}
.navtext:hover {
    border-bottom: red solid 2px;
    box-sizing: border-box;
}
.friend_requests {
    z-index: 10;
    position: fixed;
    bottom: 0vh;
    background-color: rgba(31, 28, 28, 0.55);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.friend_requests_container {
    background-color: rgba(31, 28, 28, 0.85);
    border-radius: 20px;
    padding: 10px;
    width: 30rem;
    height: 45rem;
}