.sidebar {
    background-color: rgba(0, 0, 0, 0.7);
    width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.display{
    color: grey;
    transform: translateX(20px);
    font-size: 1.5rem;
    padding-right: 1rem;
    box-sizing: inherit;
    border-bottom: solid transparent 2px;
}
.display:first-child {
    margin-top: 30px;
}
.container {
    display: flex;
    width: 100%;
    min-height: 100%;
    justify-content: space-between;
    background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
}